@model  List<ledcity.Models.Led>

<h3>Search Results</h3>
<div class="table-responsive col-lg-6">
    <table class="table table-hover">
        <tr style="font-weight:bold">
            <td>  Brand Name</td>
            <td>  Model</td>
            <td>  Price</td>
            <td>  Image</td>
        </tr>
        @if (Model != null)
        {

            foreach (var r in Model)
            {


                <tr>
                    <td>@r.Bname</td>
                    <td>@r.ModelNo</td>
                    <td>@r.Price</td>
                    <td>@r.Image</td>
                </tr>

            }
        }
        else
        {
            <td>No Data Found</td>
        }

    </table>

</div>


