<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="full" lang="en">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        body {
            background-image: url("/Images/s1.jpg");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">LED CITY</a>

        </div>

        <ul class="nav navbar-nav">

        </ul>

        

    </nav>
    <div class="row">

        <div class="col-xs-12">


            @RenderBody();

        </div>

    </div>

    <div class="footer">

        <p style="text-decoration-color:black">&copy;   Graphics | Privacy | Terms </p > 
    </div > 
    </body > 
</html >


